.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/background-homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-discover {
  background-color: #a2304f !important;
  border: none !important;
  font-size: calc(50% + 1vw + 1vh) !important;
}

.btn-discover:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-discover:active {
  background-color: #bd3a5e !important;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh) !important;
}

.text-responsive-question {
  font-size: calc(50% + 1vw + 1vh) !important;
}

.container-problematic, .container-solutions {
  margin-bottom: 300px;
}
