h5 {
  color: #a2304f !important;
}

.text-grey {
  color: #797979 !important;
}

.important-statistic {
  color: #a2304f !important;
}

/* button */

.btn-receive {
  background-color: #a2304f !important;
  box-shadow: none !important;
  color: white !important;
  font-size: 1.3em !important;
}

.btn-receive:active {
  background-color: #d03c64 !important;
  box-shadow: none !important;
}

/* text */

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 990px){
  .text-shadow {
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 10px;
  }
}

/* zoom image */

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* carousel citation */

.container-quotes {
  margin-bottom: 100px !important;
}

/* remove ugly boostrap effect button */

.navbar-toggler {
  border: none !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../img/utils/logo-mobile-nav.png") !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

/* input 3c methode */

#email-methode-3C {
  background-color: transparent;
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px white;
  color: white;
}

#email-methode-3C:focus {
  border: solid 1px #a2304f;
}

/* color */

.secondary-color {
  color: #a2304f;
}
