/*  typography */
@font-face {
  font-family: "Helvetica400";
  src : url("../fonts/Helvetica400.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaBold";
  src : url("../fonts/HelveticaBold.ttf") format("truetype");
}

body {
  font-family: "Helvetica400", serif !important;
}

.container-hero {
  font-family: "HelveticaBold", serif !important;
}

h5 {
  color: #a2304f !important;
}

h4 {
  font-size: 1.8em !important;
  letter-spacing: 1px !important;
}

.card-mission:hover {
  -webkit-box-shadow: 0px 15px 53px -11px rgba(162, 48, 79, 0.1);
  -moz-box-shadow: 0px 15px 53px -11px rgba(162, 48, 79, 0.1);
  box-shadow: 0px 15px 53px -11px rgba(162, 48, 79, 0.1);
}

.text-grey {
  color: #797979 !important;
}

.important-statistic {
  color: #a2304f !important;
}

/* button */

.btn-receive {
  background-color: #a2304f !important;
  box-shadow: none !important;
  color: white !important;
  font-size: 1.3em !important;
}

.btn-receive:active {
  background-color: #d03c64 !important;
  box-shadow: none !important;
}

/* text */

@media screen and (max-width: 990px) {
  .line-break {
    display: none;
  }
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 990px){
  .text-shadow {
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 10px;
  }
}

/* list icon solutions */

.list-solutions {
  list-style: none;
  padding: 0;
}
.item-solution {
  padding-left: 1.3em;
}
.item-solution:before {
  content: "\2713";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

/* zoom image */

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* carousel citation */

.container-quotes {
  margin-bottom: 100px !important;
}

.carousel-content {
  margin-bottom: 100px;
}

@media screen and (max-width: 990px){
  .carousel-content {
    margin-bottom: 0;
  }
}

/* remove ugly boostrap effect button */

.navbar-toggler {
  border: none !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../img/utils/logo-mobile-nav.png") !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

/* text */

.text-cible {
  line-height: 32px;
}

.text-survey {
  font-size: 1.3em;
}

#text-methode-3c {
  font-size: 1.1em;
}

/* padding */

.padding-0 {
  padding-right:0;
  padding-left:0;
}

/* input 3c methode */

.input-methode-3C {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px white;
  color: white;
}

.input-methode-3C:focus {
  border: solid 1px #a2304f !important;
}

/* image partner */

.partner-image {
  opacity: 0.3;
}

/* color */

.secondary-color {
  color: #a2304f !important;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #a2304f !important;
}
