h5 {
  color: #a2304f !important;
}

.text-grey {
  color: #797979 !important;
}

.important-statistic {
  color: #a2304f !important;
}

/* text */

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.47);
  border-radius: 10px;
}

/* zoom image */

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* carousel citation */

.container-quotes {
  margin-bottom: 100px !important;
}
